.container {
    max-width: 70%;
}

.content h1 code,
.content h2 code,
.content h3 code,
.content h4 code,
.content h5 code,
.content h6 code {
  background-color: transparent;
}

.content {
    font-size: 16px;
}

.content h2 {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 0px;
}

.content h2:not(:first-child) {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.content h2 em {
    font-weight: 300;
}

.content h2#summary {
    margin-bottom: 20px;
}

.content h2#toc {
    margin-bottom: 20px;
}

.content h3 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 0px;
}

.content h4 {
    font-size: 18px;
    margin-top: 40px;
}

.content img {
    width: 100%;
}

.content figcaption p {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    color: #8a8a8a;
    margin-bottom: 25px;
    text-align: center;
}

.content figcaption code {
    font-style: normal;
    color: #777777;
}

.icon {
    width: 35px;
}

.num-circle {
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Arial;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
}

.content .toc-link {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 16px;
}

#site-title :before {
    content: " ";
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-image: url(/logo.png);
    color: transparent;
    background-size: 60px;
    background-repeat: no-repeat;
    position: relative;
    top: 15px;
}

#site-title:hover :before {
    background-image: url(/logo_dark.png);
}

#site-title h1 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.video-wrapper {
    height: 54vh;
}

.video-wrapper iframe {
    width: 96vh;
    height: 100%;
    display: block;
    margin: auto;
}

footer {
    font-size: 12px;
}

.content .hl {
    background-color: #fff9c9;
    padding: 7px;
}

ol {
    counter-reset: item
}

ol li {
    display: block
}

ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item
}

aside {
    border: 1px solid #ccc;
    border-color: #d3d6db;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-left: 6%;
    background-color: #FFFEF2;
}

aside p:first-child {
    margin-top: 0px;
    margin-bottom: 25px;
    color: #b52323;
    font-size: 22px;
    font-weight: 300;
}

aside p:first-child:hover {
    cursor: pointer;
    text-decoration: underline;
}

.aside-closer {
    color: #b52323;
    font-size: 18px;
    font-weight: 300;
}

.aside-closer-text:hover {
    cursor: pointer;
    text-decoration: underline;
}


.highlight tr {
    border: darkgray 1px solid;
}

#TableOfContents {
    margin-bottom: 1.5em;
}

.content p:not(:last-child) {
    margin-bottom: 0.8em;
}
