.content h1 code,
.content h2 code,
.content h3 code,
.content h4 code,
.content h5 code,
.content h6 code {
  background-color: #f8f8f8;
}

.content h1 {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 0px;
}

.content h1#summary {
    margin-bottom: 20px;
}

.content h2 {
    font-size: 24px;
}

.content h3 {
    font-size: 18px;
}

.content img {
    width: 75%;
    height: auto;
}

.content figcaption p {
    font-size: 18px;
    text-align: center;
    font-style: italic;
    color: #8a8a8a;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Open Sans";
}

.content figcaption code {
    font-style: normal;
}

.icon {
    width: 35px;
}

.num-circle {
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: Arial;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
}

.content .toc-link {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 16px;
}

#site-title :before {
    content: " ";
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-image: url(/logo.png);
    color: transparent;
    background-size: 60px;
    background-repeat: no-repeat;
    position: relative;
    top: 15px;
}

#site-title:hover :before {
    background-image: url(/logo_dark.png);
}

#site-title h1 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    font-size: 14px;
}

.content .hl {
    background-color: #fff9c9;
    padding: 7px;
}